body {
  font-family: "Lato", sans-serif;
}

.sidenavshow {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 20%;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenavnotshow {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 20%;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

a:hover {
  color: #f1f1f1;
}

#setting {
  color: #f1f1f1;
  font-size: 48px;
  background-color: blue;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}