/* Styles for the Header React component */
.header {
  margin-bottom: 40px;
}

.header-profile {
  display: inline-block;
  width: 70%;
}

.headerSearch {
  display: inline-block;
  right: 0;
  width: 30%;
}

@media only screen and (max-width: 600px) {
  .header-profile {
    width: 20%;
  }
  .headerSearch {
    width: 80%;
  }
}