/* Styles for the Home React component */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__bg-image {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("./static/toronto.jpg");
}

.home__button-link {
  text-decoration: none;
}

.home__button {
  width: 300px;
  height: 80px;
}

/* Increase specificity to override component styles */
.MuiButton-root.home__button {
  background-color: transparent;
  border: 4px darkslategrey solid;
  border-radius: 0;
}

.home__button .MuiButton-label {
  font-size: 1.5em;
  color: darkslategrey;
}
