#focus-page {
    width: 100%;
}

#focus-ready {
    color: #ffffff;
    font-size: 22px;
    padding: 10px;
    border: 2px;
    border-color: #ffffff;
    border-radius: 5px;
    border-style: solid;
    justify-content: center;
    width: 100%;
    height: 40%;
    /* align-items: center; */
    text-align: center;
}

#input-prompt {
    color: #ffffff;
}

#time-input {
    color: #000;
    height: 25px;
    background-color: #ffffff;
    border-radius: 1%;
}

#start-timer-btn {
    color: #ffffff;
    margin-left: 5px;
    border-color: #ffffff;
}

#timer {
    color: white;
}

