
#input{
    top: 0px;
    position: relative;
    width: 70%;
    height: 20px;
    border: thin 1px black;
}

#playlistInputContainer {
    margin-bottom: 10px;
}

#spotify{
    right:0px;
    margin: 10px, 10px, 10px, 10px;
}

#button{
    top: 0px;
    position: relative;
    width: 30%;
    height: 20px;
}